.contactSection{
    margin-top: 8%;
    .contactContainer{
        display: flex;
        align-items: center;
        flex-direction: column;

        .contactIcons{
            margin: 1%;
            border-radius: 25px;
            padding: 2%;
            padding: 30px 600px;
            color: #fff;
            font-size: 50px;
            background-color: $millbrook;
            transition-duration: 300ms;
            &:hover{
                background-color: $carouselPink;
                color: $millbrook;
            }
        }
    }
}