@import './variables';
@import './Navbar';
@import './WhoIAm';
@import './Projects';



body{
    font-family: 'Raleway', sans-serif;
    .sectionTitle {
        font-size: 26px;
        color: $millbrook;
        h2 {
          font-weight: 400;
        }
      }
}

